.skillsContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  
  padding: 3px;

}

.skillWrapper{
  width: 350px;
  height:100%;

  /* border: 1px solid; */
  padding: 12px;
}
.iconWrapper{
  width: 100%;
  text-align: center;
  /* border: 1px dashed; */

}
.skillIcon{
  width: 20%;
  height: auto;

}
p{
  text-align: left;
}

.outerContainer h2{
  padding: 3px;
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
}

.skillWrapper p{
  padding: 3px;
  text-align: center;

}
.outerContainer h4{
  font-weight: 600


}

@media (max-width: 800px) {
  .skillsContainer {
    flex-direction: column;
    align-items: center;
  }

}
