.outerContainer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 1000px;

}
.canvasHolder{
  position: relative;
}
.activeAttack{
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.passiveAttack{
  background-color: white;
  padding: 10px;
}
.headerWrapper{
  overflow-x: scroll;
  padding: 15px;




}
